@model OFCSS.Models.MerchantRequirment 
@{
    ViewData["Title"] = "CreateMerchantRequirment";
} 
<h1>Create Merchant Requirment</h1>  
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateMerchantRequirment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="mr_name" class="control-label"></label>
                <input asp-for="mr_name" class="form-control" />
                <span asp-validation-for="mr_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mr_quantity" class="control-label"></label>
                <input asp-for="mr_quantity" class="form-control" />
                <span asp-validation-for="mr_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mr_price" class="control-label"></label>
                <input asp-for="mr_price" class="form-control" />
                <span asp-validation-for="mr_price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mr_discription" class="control-label"></label>
                <input asp-for="mr_discription" class="form-control" />
                <span asp-validation-for="mr_discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

